.block {
  background-color: #45a1f8;
  color: white;
  border: none;
  padding: 10px 40px 10px 40px;
  margin: 10px;
  border-radius: 0;
  font-size: 15px;
  text-align: center;
}

.wrapper {
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  @extend .wrapper;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
  }

  .question {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
  }

  .answer-input {
    @extend .block;
    border-radius: 10px;
  }

  .answer-input::placeholder {
    color: white;
  }

  .start-button {
    @extend .block;
    cursor: pointer;
  }
}
